body{
    background-image: url('Level 1 background.png');
    background-size: 100% 100%;
    min-height: 100vh;
  }
  
  .boy{
    position:absolute;
    width: 100px;
    height: auto;
    bottom: 30%;
    left: 50%;  
    transform: scaleX(-1);
  }
  
  .btn-level{
    position: absolute;
  }
  .btn-level-1{   
    top: 20%;
    left: 20%;
  }
  .btn-level-2{
    top: 60%;
    left: 40%;
  }
  .btn-level-3{
    top: 30%;
    left: 78%;  
  }
  
  .reach-level-3{
    animation: boyLevel3 3s  linear forwards;
  }
  @keyframes boyLevel3 {
    0%{
      bottom: 50%;
      right: 70%;
    }
    100%{
        bottom: 50%;
        left: 70;
    }
}
  