body{
    background-image: url('waterfall.jpg');
    background-size: 100% 100%;
    min-height: 100vh;
  }

  .Question1background {

position: absolute;

  }

  .Question1 {
text-align: unset;
bottom: 50px;
content: icon;

  }