body{
background-color: lightgray;

}

.homepagetitle {

text-align: center;
font-style: italic;


}

h1 {
 font-size: 100px;
}

.background {
image-orientation: flip;

}

.Homepage_Level {
position: absolute;
top:30% ;
bottom: 10% ;
right: 3%;

}


.Info_button {
    position: absolute;
    top: 45%;
}