body{
    background-image: url('Level 3 background.jpg');
    background-size: 100% 100%;
    min-height: 100vh;
  }

  .boy{
    position:absolute;
    width: 100px;
    height: auto;
    top: 18%;
    left: 45%;
    transform: scaleX(-1);
  }
  
  .btn-level{
    position: absolute;
  }
  .btn-level-1{
    top: 63%;
    left: 17%;
  }
  .btn-level-2{
    top: 67%;
    left: 51%;
  }
  .btn-level-3{
    top: 56%;
    left: 82%;
  }
  
  .btn-level-4{
    top: 30%;
    left: 74%;
  }  
  .btn-level-5{
    top: 9%;
    left: 11%;
  }  